@model DungeonBuildersGuidebook.Models.TrapArchitectModel
@{
    ViewBag.Title = "Trap Architect";
}

	<script type="text/javascript">
		$(document).ready(function () {
			$('#refreshButton').live("click", function () {
				$('#trapBase').text("@Model.GetTrapBase()");
			});
		});
	</script>

<div id="TrapComponents">
	<table id="assembledTrap">
		<tbody>
			<tr>
				<td>Trap Base</td>
				<td id="trapBase">@Model.GetTrapBase()</td>
			</tr>
			<tr>
				<td>Trap Effects</td>
				<td id="trapEffects">@Model.GetTrapEffects()</td>
			</tr>
			<tr>
				<td>Trap Damage</td>
				<td id="trapDamage">@Model.GetTrapDamage()</td>
			</tr>
		</tbody>
	</table>
	<div id="refreshTraps">
		<input type="button" id="refreshButton" value="Generate New Trap" />
	</div>
</div>
