@model DungeonBuildersGuidebook.Models.TrapArchitectModel
@{
    ViewBag.Title = "Trap Architect";
}

	<script src="@Url.Content("~/Scripts/jquery.tmpl.min.js")" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {

			var newTrapMarkup = "<tbody><tr><td>Trap Base</td><td>${TrapBase}</td></tr><tr><td>Trap Effects</td><td>${TrapEffects}</td></tr><tr><td>Trap Damage</td><td>${TrapDamage}</td></tr><tr><td></td></tr></tbody>";
			$.template("newTrapTemplate", newTrapMarkup);

			$('#refreshButton').click(function () {
				GenerateNewTrap();
			});

			$("#addNewTrap").click(function () {
				AddTrap();
			});

			$("#resetTraps").click(function () {
				$("#addedTraps tr").remove();
				GenerateNewTrap();
			});

			function GenerateNewTrap() {
				$.ajax({
					type: "GET",
					url: "home/GenerateNewTrap",
					success: function (newTrap) {
						$("#trapBase").text(newTrap.TrapBase);
						$("#trapEffects").text(newTrap.TrapEffects);
						$("#trapDamage").text(newTrap.TrapDamage);
					}
				});
			};

			function AddTrap() {
				$.ajax({
					type: "Get",
					url: "home/GenerateNewTrap",
					success: function (newTrap) {
						$.tmpl("newTrapTemplate", newTrap).appendTo("#addedTraps");
					}
				});

			};

		});
	</script>


<div id="TrapComponents">
	<div id="refreshTraps">
		<input type="button" id="refreshButton" value="Generate New Trap" />
		<input type="button" id="addNewTrap" value="Add A New Trap" />
		<input type="button" id="resetTraps" value="Reset" />
	</div>
	<table id="assembledTrap">
		<tbody>
			<tr>
				<td>Trap Base</td>
				<td id="trapBase">@Model.GetTrapBase()</td>
			</tr>
			<tr>
				<td>Trap Effects</td>
				<td id="trapEffects">@Model.GetTrapEffects()</td>
			</tr>
			<tr>
				<td>Trap Damage</td>
				<td id="trapDamage">@Model.GetTrapDamage()</td>
			</tr>
		</tbody>
	</table>
	<table id="addedTraps">
	</table>
</div>
