@model DungeonBuildersGuidebook.Models.TrapArchitectModel
@{
    ViewBag.Title = "Trap Architect";
}

	<script type="text/javascript">
		$(document).ready(function () {
			$('#refreshButton').click(function () {
				GenerateNewTrap();
			});

			$("#addNewTrap").click(function () {
				AddTrap();
			});

			$("#resetTraps").click(function () {
				$("#addedTraps tr").remove();
				GenerateNewTrap();
			});

			function GenerateNewTrap() {
				$.ajax({
					type: "GET",
					url: "home/GenerateNewTrap",
					success: function (newTrap) {
						$("#trapBase").text(newTrap[0]);
						$("#trapEffects").text(newTrap[1]);
						$("#trapDamage").text(newTrap[2]);
					}
				});
			};

			function AddTrap() {
				$.ajax({
					type: "Get",
					url: "home/GenerateNewTrap",
					success: function (newTrap) {
						$("#addedTraps").append("<tbody><tr><td>Trap Base</td><td>" + newTrap[0] + "</td></tr><tr><td>Trap Effects</td><td>" + newTrap[1] + "</td></tr><tr><td>Trap Damage</td><td>" + newTrap[2] + "</td></tr></tbody>");
					}
				});

			};

		});
	</script>


<div id="TrapComponents">
	<div id="refreshTraps">
		<input type="button" id="refreshButton" value="Generate New Trap" />
		<input type="button" id="addNewTrap" value="Add A New Trap" />
		<input type="button" id="resetTraps" value="Reset" />
	</div>
	<table id="assembledTrap">
		<tbody>
			<tr>
				<td>Trap Base</td>
				<td id="trapBase">@Model.GetTrapBase()</td>
			</tr>
			<tr>
				<td>Trap Effects</td>
				<td id="trapEffects">@Model.GetTrapEffects()</td>
			</tr>
			<tr>
				<td>Trap Damage</td>
				<td id="trapDamage">@Model.GetTrapDamage()</td>
			</tr>
		</tbody>
	</table>
	<table id="addedTraps">
	</table>
</div>
